.page1 {
  background-image: url(bgimage.jpg);
  height: 600px;
  background-size: cover;
}

.logo {
  background-image: url("logo.png");
  width: 220px;
  height: 75px;
  margin-right: 0%;
  border: 10px solid purple;
  display: inline-block;
}
.Button1 {
  border: 3px solid white;
  background-color: black;
  color: white;
  position: absolute;
  top: 40px;
  right: 250px;
  padding: 5px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Button1:hover {
  background-color: red;
}
.Button2 {
  border: 3px solid white;
  background-color: black;
  color: white;
  position: absolute;
  top: 40px;
  right: 100px;
  padding: 5px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Button2:hover {
  background-color: red;
}
.logotxt {
  text-decoration: dotted;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0%;
  color: white;
}
.text {
  color: whitesmoke;
  text-align: center;
  padding-top: 80px;
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.page2 {
  background-color: black;
  background-size: cover;
  height: 600px;
}
.picture {
  margin-top: 20px;
  background-image: url("My.jpeg");
  width: 600px;
  height: 500px;
  margin-right: 0%;
  display: inline-block;
  background-repeat: no-repeat;
  display: inline-block;
}
.about {
  display: inline-block;
  color: white;
  text-align: center;
  width: 700px;
  margin-bottom: 100px;
}
.page3 {
  background-color: purple;
  background-size: cover;
  height: 600px;
}
.newlogo {
  background-image: url("logo.png");
  width: 220px;
  height: 75px;
  position: absolute;
  display: inline-block;
  margin-left: 350px;
}
.line {
  background-color: black;
  height: 130px;
  width: 8px;
  display: inline-block;
  position: absolute;
  margin-left: 580px;
}
.txt {
  display: inline;
  position: absolute;
  margin-left: 610px;
  margin-top: 55px;
}
.box1 {
  background-image: url(dell1.jpg);
  display: inline-block;
  border: 5px solid black;
  width: 250px;
  height: 200px;
  margin-left: 250px;
  margin-top: 200px;
  background-repeat: no-repeat;
}
.Box1:hover {
  color: aqua;
}
.box2 {
  background-image: url(apple1.jpg);
  display: inline-block;
  border: 5px solid black;
  width: 250px;
  height: 200px;

  margin-left: 20px;
  background-repeat: no-repeat;
}
.box3 {
  background-image: url(hp2.jpg);
  display: inline-block;
  border: 5px solid black;
  width: 250px;
  height: 200px;

  margin-left: 20px;
  background-repeat: no-repeat;
}
.boxtxt {
  text-align: center;
  font-size: x-large;
  font-family: cursive;
}
.page4 {
  background-image: url(footer.png);
  height: 600px;
  background-size: cover;
}
.newlogo {
  background-image: url("logo.png");
  width: 220px;
  height: 75px;
  display: inline-block;
  margin-left: 350px;
  padding-bottom: 10px;
  margin-top: 25px;
  background-repeat: no-repeat;
}
.footer {
  background-color: black;
  height: 150px;
  width: 5px;
  display: inline-block;
  margin-left: 600px;
}
.Questions {
  display: inline-block;
  margin: 20px;
  margin-left: 20px;
  position: absolute;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.new {
  margin-top: 150px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link {
  margin-top: 150px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link:hover {
  color: green;
}
